@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0A0F;
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}
